body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide the menu links container by default */
.hidden {
  display: none;
}

@media (max-width: 768px) {
  .text-buttons {
    display: none;
  }
  .icon-buttons {
    display: inline-block;
  }
}
@media (min-width: 769px) {
  .icon-buttons {
    display: none;
  }
  .text-buttons {
    display: inline-block;
  }
}
