body {
  font-family: 'Montserrat', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide the menu links container by default */
.hidden {
  display: none;
}

@media (max-width: 768px) {
  .text-buttons {
    display: none;
  }
  .icon-buttons {
    display: inline-block;
  }
}
@media (min-width: 769px) {
  .icon-buttons {
    display: none;
  }
  .text-buttons {
    display: inline-block;
  }
}

/* Add this CSS to your stylesheet */
.profile-img-container {
  position: relative;
  display: inline-block;
}

.profile-presence-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #3bb143; /* Green color for presence indicator */
  border: 2px solid #ffffff; /* White border around the presence indicator */
  border-radius: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.header-link {
  position: relative;
  text-decoration: none;
}

.header-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #eda20d;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
